<h1>Formulaires</h1>
<section class="mb-5">
    <h4>1. formulaire template-driven</h4>
    <section class="mb-3">
        <ul>
            <li>Importer le formulaire FormsModule</li>
            <li>Dans html, on utilise les directive ngForm et ngModel</li>
            <li>
                ngForm sert à lier la balise form à Angular<br>
                ngModel sert à faire un two-way data binding sur une balise dans le formulaire
            </li>
            <li>Donner une valeur à l'attribut name dans la balise, le champ et unique</li>
            <li>Créer un alias sur le champ avec la directive ngModel : #nameCtrl="ngModel" pour qu'on ait accès</li>
            <li>
                Les validators internes de angular : required, minlength, maxlength, pattern, email
            </li>
            <li>ngSubmit est une directive pour faire la soumission du formulaire</li>
        </ul>
    </section>
    <form #userForm="ngForm" (ngSubmit)="createUser($event)" class="container-fluid">
        <h5>Créer un user</h5>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civility" id="civility-m" value="m" #civility [(ngModel)]="userM.civility">
                    <label class="form-check-label" for="civility-m">
                        Monsieur
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civility" id="civility-f" value="f" #civility [(ngModel)]="userM.civility">
                    <label class="form-check-label" for="civility-f">
                        Madame
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="lastname" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" #lastname [(ngModel)]="userM.lastname" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="firstname" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" #firstname="ngModel" [(ngModel)]="userM.firstname" required pattern="[a-zA-Z]*" minlength="5" maxlength="14">
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                        <div *ngIf="firstname.errors?.['required']">Indiquez un prénom.</div>
                        <div *ngIf="firstname.errors?.['pattern']">Format invalide</div>
                        <div *ngIf="firstname.errors?.['minlength'] ||firstname.errors?.['maxlength']">Longueur:5-14</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="slogan" class="form-label">Slogan</label>
                    <input type="text" class="form-control" id="slogan" name="slogan" [(ngModel)]="slogan">
                    {{slogan}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Mail*</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userM.email" #email="ngModel" required email>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">Indiquez un email.</div>
                        <div *ngIf="email.errors?.['email']">Format d’email invalide.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe*</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userM.password" #password="ngModel" required appPasswordValidator autocomplete="off">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors?.['required']">Indiquez un mot de passe.</div>
                        <div *ngIf="password.errors?.['format']">Indiquez un mot de passe valide.</div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="activated" name="activated" [(ngModel)]="userM.activated" #activated="ngModel">
                    <label class="form-check-label" for="activated">
                      Activé
                    </label>
                  </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid">Envoyer</button>
            </div>
        </div>
    </form>
</section>

<section class="mb-5">
    <h4>2. formulaire Reactive Form</h4>
    <section class="mb-3">
        <ul>
            <li>les classes : FormGroup, FormControl, Validators</li>
        </ul>
    </section>
    <form [formGroup]="formGroups" (ngSubmit)="createUserByReativeForm($event)" class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civility2" id="civility-m2" value="m" formControlName="civility2">
                    <label class="form-check-label" for="civility-m2">
                        Monsieur
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civility2" id="civility-f2" value="f" formControlName="civility2">
                    <label class="form-check-label" for="civility-f2">
                        Madame
                    </label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="lastname2" class="form-label">Nom</label>
                <input type="text" class="form-control" id="lastname2" name="lastname2" formControlName="lastname2">
            </div>
            <div class="col-md-4 mb-3">
                <label for="firstname2" class="form-label">Prénom*</label>
                <input type="text" class="form-control" id="firstname2" name="firstname2" formControlName="firstname2">
                <div class="text-danger" *ngIf="formGroups.get('firstname2')?.invalid && (formGroups.get('firstname2')?.dirty || formGroups.get('firstname2')?.touched)">
                    <div *ngIf="formGroups.get('firstname2')?.errors?.['required']">Le prénom est requis.</div>
                    <div *ngIf="formGroups.get('firstname2')?.errors?.['minlength']">Le prénom doit faire au moins 3 caractères.</div>
                    <div *ngIf="formGroups.get('firstname2')?.errors?.['pattern']">Le prénom ne peut contenir que des lettres.</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="email2" class="form-label">Mail*</label>
                <input type="text" class="form-control" id="email2" name="email2" formControlName="email2">
                <div class="text-danger" *ngIf="formGroups.get('email2')?.invalid && (formGroups.get('email2')?.dirty || formGroups.get('email2')?.touched)">
                    <div *ngIf="formGroups.get('email2')?.errors?.['required']">Le prénom est requis.</div>
                    <div *ngIf="formGroups.get('email2')?.errors?.['email']">Le mail est invalide.</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="password2" class="form-label">Mot de passe*</label>
                <input type="text" class="form-control" id="password2" name="password2" formControlName="password2" autocomplete="off">
                <div class="text-danger" *ngIf="formGroups.get('password2')?.invalid && (formGroups.get('password2')?.dirty || formGroups.get('password2')?.touched)">
                    <div *ngIf="formGroups.get('password2')?.errors?.['required']">Le mot de passe est requis.</div>
                    <div *ngIf="formGroups.get('password2')?.errors?.['format']">Le format est invalide.</div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="formGroups.invalid">Envoyer</button>
            </div>
        </div>
    </form>
</section>


<section class="mb-5">
    <h4>3. Validator personnalisé pour le formulaire template-driven</h4>
    ng g d validators/PasswordValidator
</section>

<section class="mb-5">
    <h4>4. Validator personnalisé pour le formulaire Reactive Form</h4>
    Créer le validator à la main : password2.validator.ts
</section>