<h1>Commencement</h1>
<div class="mb-4">
    <h4>Créer un projet</h4>
    ng new angular17-demo --style=scss <br>

    options(app.module.ts, app-routing.modules.ts) : --no-standalone --routing
</div>

<div class="mb-4">
    <h4>Démarrer le serveur</h4>
    ng serve --open <br>
    http://localhost:4200/
</div>

<div class="mb-4">
    <h4>Bootstrap</h4>
    npm install bootstrap<br>

    dans angular.json<br>
    "styles": [<br>
        "node_modules/bootstrap/scss/bootstrap.scss",<br>
        "src/styles.scss"<br>
    ],<br>
    "scripts": [<br>
        "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"<br>
    ]<br>
</div>

<div class="mb-4" #divRef>
    <h4>Ref</h4>
    &#64;ViewChild()
</div>