<h1>Cycles de vie</h1>

<div class="mb-4">
    <h4>ngOnChanges </h4>
    Appelé à chaque fois qu'une valeur d'une propriété d'entrée (Input) change. 
</div>

<div class="mb-4">
    <h4>ngOnInit </h4>
    Appelé une seule fois, juste après le constructor
    <br>
    Initialiser les données, appeler une API
</div>

<div class="mb-4">
    <h4>ngDoCheck</h4>
    Appelé à chaque fois qu'une valeur d'une propriété du composant change
</div>

<div class="mb-4">
    <h4>ngAfterViewInit </h4>
    Appelé une seule fois après l'initialisation des vues du composant et de ses enfants.
</div>

<div class="mb-4">
    <h4>ngOnDestroy</h4>
    
</div>