<h1>Rxjs</h1>

<div class="mb-4">
    <h4>Définition</h4>
    RxJS (Reactive Extensions for JavaScript) est une bibliothèque clé dans Angular, utilisée pour la programmation réactive avec les observables. <br>
    Elle est largement intégrée dans Angular, notamment dans le système HttpClient, Forms, Router, et les services personnalisés.
</div>

<div class="mb-4">
    <h4>API</h4>
    - Observable
    <br>
    - Subscriber/Observer(next, error, complete)
    <br>
    - Subscribtion
    <br>
    - Subject(un object observable)<br>
    Subject, BehaviorSubject, ReplaySubject, AsyncSubject
</div>

<div class="mb-4">
    <h4>CRUD</h4>
    articles$ = new BehaviorSubject([]);
    <br>
    articles$.next(allArticles)
    <br><br>

    Create : <br>
    const articles = articles$.getValue();<br>
    articles$.next([...articles, oneArticle])<br>
    <br><br>

    Update : <br>
    const articles = articles$.getValue();<br>
    articles[index] = newArticle;<br>
    articles$.next([...articles])
    <br><br>
    
    Delete : <br>
    const articles = articles$.getValue();<br>
    articles$.next(articles.filter(article => article.id !== id));
</div>
