<h1>Pipes</h1>

<div class="mb-4">
    <h4>DatePipe</h4>
    {{myDate|date:'dd-MM-yyyy HH:mm:ss'}}<br>
    {{myDate|date:'dd-MM-yyyy'}}
</div>

<div class="mb-4">
    <h4>JsonPipe</h4>
    {{users|json}}<br>
</div>

<div class="mb-4">
    <h4>UpperCasePipe, LowerCasePipe etc</h4>
</div>

<div>
    <h4>Pipe personnalisé</h4>
    ng generate pipe safe
    <br>
    <iframe width="560" height="315" [src]="videoUrl|safe:'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>